<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Yuanzhi LIANG / Tonny's personal website.">
  <meta name="author" content="Yuanzhi LIANG">
  <title>{{title}}</title>
  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/{{stylesheet}}" rel="stylesheet">
  <link href="/static/favicon.ico" rel="icon">
</head>

<body>
  <nav class="navbar">
    <a class="navbar-brand" href="/">LYZDE</a>
    <ul class="navbar-menu">
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>

{% block content %}{% endblock content %}

  <div class="container">
    <hr>
    <footer>
        © 2019 Lyzde. Powered by Rocket in Rust!
    </footer>
  </div>
</body>

</html>
